<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Product</title>
</head>
<body>
    <h1>All Product</h1>
    <form action="/search" method="post">
        <input type="text" name="txtSearch">
        <input type="submit" value="Search" >
    </form>
    <ul>
        {{#each products}}
            <li>{{name}} - {{price}} <a style="text-decoration: none;" href="/delete?id={{_id}}" onclick="return confirm('Are you sure??')">Delete</a></li>
            <div>
                <img src="{{picURL}}" width="400" height="250"/>
            </div>

            <div>
                <a style="text-decoration: none;" href="/edit?id={{_id}}">EDIT</a>
            </div>
        {{/each}}
    </ul>
</body>

<style>
h1{
    text-align: center;
    background: rgb(15, 15, 15);
    padding: 10px;
    color: rgb(250, 249, 249);
    font-size: 40px;
}
div a{
    color: rgb(241, 16, 16);
    text-transform:uppercase;
    text-align-last:right;
}
ul li{
    text-align: center;
    font-size: 30px;
    list-style: none ;
}
div img{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
ul{
    background-color: rgb(247, 222, 222);
}
</style>
</html>